*{
    box-sizing: border-box;
}
body{
    width: 1440px;
    margin: 0 auto;
    max-height: 6350px;
    background-color: black;
    color: white;

    
}
#beyond{
    font-family: var(--font-adamina);
    color: white;
    line-height: 100px;
    font-weight: 400;
    letter-spacing: -1%;
}
#text{
    font-family: var(--font-adamina);
    line-height: 100px;
    font-weight: 400;
    letter-spacing: -1%;
    color: rgb(130, 128, 128)
}
#h2-text{
    font-family: var(--font-adamina);
    color: white;
    font-weight: 400;
    letter-spacing: -1%;
    align-items: center;
}
#text1{
    font-family: var(--font-adamina);
}
#text2{
    font-family: var(--font-adamina);
}
#text3{
    font-family: var(--font-adamina);
}
ul{
    list-style-type: none;
    padding-left: 0;
}
li::before{
    content: '\2713';
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-right: 8px;

}
#k2-11{
    font-family: var(--font-adamina);
}
#moon-watch{
    font-family: var(--font-adamina);
}
#global-impact{
    font-family: var(--font-adamina);
    text-align: center;
    margin-top: 120px;
}
#our-team{
    font-family: var(--font-adamina);
    text-align: center;
    
}
#astro1-name{
    font-family: var(--font-adamina);
    text-align: center;
    
}
#astro2-name{
    font-family: var(--font-adamina);
    text-align: center;
    
}
#astro3-name{
    font-family: var(--font-adamina);
    text-align: center;

}
#astro4-name{
    font-family: var(--font-adamina);
    text-align: center;

}
#loop{
    font-family: var(--font-adamina);
    text-align: center;

}
